.mainPage {
  display: flex;
  justify-content: center;

  &__body {
    //width: 1168px;
    display: flex;
    align-items: center;
    //justify-content: space-between;
    //gap: 80px;
  }

  .exploration {
    width: 100%;
    height: 640px;
    background-image: url("../../img/pic1.png");

    .motivation {
      &__yellow_block {
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;

        letter-spacing: 2px;
        text-transform: uppercase;

        color: #E6B939;
      }

      &__white_block {
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;

        color: #FFFFFF;
      }

      &__gray_block {
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 25px;

        color: #CACCD1;
      }
    }
  }
}
