.footer {
  width: 100%;
  background: #575445;
  border-radius: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;

  &__wrapper {
    width: 1168px;
    margin: 0 auto;
  }

  .footerLogoBlock {
    display: flex;
    justify-content: center;

    .logo {
      display: flex;
      width: 160px;
    }
  }

  .footerContent {
    display: flex;
    gap: 16px;
    padding-top: 76px;
  }

  .links {
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .newsletter {
    width: 458px;
  }

  .title {
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #E6B939;
  }

  .subtitle {
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    //cursor: pointer;

    color: #FFFFFF;
  }

  .powered {
    padding-top: 31px;
  }

  .email {
    display:flex;
    flex-direction:row;
    padding: 2px;
    margin-top: 9px;
    height: 53px;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 8px;

    &__input {
      padding-left: 21px;
      flex-grow:2;
      border:none;
      font-family: Poppins, serif;
    }

    &__submit {
      margin: 5px;
      background: #575445;
      border-radius: 10px;
      cursor: pointer;
      font-family: Poppins, serif;
      padding: 10px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
      border: none;
    }
  }

  .socials {
    margin-left: auto;
    display: flex;
    gap: 20px;
    height: 24px;
    padding-top: 46px;
    align-items: flex-end;
    justify-content: flex-end;

    &__icon {
      cursor: pointer;
    }
  }

  .what_block {
    display: flex;
  }

}
