.footer {
  width: 100%;
  height: 567px;
  background: #575445;
  border-radius: 0;

  &__wrapper {
    //background: aliceblue;
    position: relative;
    display: flex;
    margin: 100px 136px;
    width: 1168px;
    height: 368px;
    //justify-content: center;
    //align-items: center;
  }

  .logo {
    display: flex;
    width: 160px;
    //height: 48px;

    justify-content: center;
    margin: 0 auto 75px;
  }

  .pages {
    padding-top: 124px;
    padding-bottom: 50px;
    padding-right: 16px;

  }

  .categories {
    padding-top: 124px;
    padding-bottom: 50px;
    padding-right: 16px;
  }

  .company {
    padding-top: 124px;
    padding-bottom: 50px;
    padding-right: 16px;
  }

  .newsletter {
    padding-top: 124px;
    padding-bottom: 50px;
    padding-right: 16px;
  }

  .title {
    padding-bottom: 9px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #E6B939;

  }



  .subtitle {
    height: 20px;
    padding-bottom: 9px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;

    color: #FFFFFF;
  }

}
